<html>
   <body>
      <h1>Arithmetic Microservices</h1>
      <form action="" method="POST">
         <!-- Hint 1: What if input "first" and "second" had default values? -->
         Enter the First number : <input name="first">
         <br>
         Enter the Second number: <input name="second">
         <br>
         Enter Operation: <select id="op" name="operation">
            <option value="add">Addition</option>
            <option value="minus">Subtraction</option>
            <option value="multiply">Multiplication</option>
            <option value="divide">Division</option>
          </select>
         <br><br>
         <input type="submit" name="submit_button">
      </form>
        {% for message in get_flashed_messages() %}
         {{message}}
      {% endfor %}
   </body>
</html>